form.search {
    overflow: auto;
    margin-bottom: 10px;
  }
  
  form.search button[type="submit"] {
    float: right;
    margin-top: 10px;
  }

.form-control{
  min-width: 100%;
  flex: 3;
}

.search{
  display: grid;
  grid-template-columns: repeat(4, r1);
}

.form-group{
grid-area:
". .search .search .";
}

label{
  color: white;
}

h1{
  margin-top:20px;
}

.gr__localhost{
  background: black;
}