.card-body{
    background: black;
    border:none;
    height:800px;
}

.container{
    background: black;
    background-size: cover;
}

h1{
    color:rgb(16, 192, 223);
    margin-bottom:20px;
    margin-top: 20px;
}

label{
    color: white;
}

.form-group{
    max-width:50%;
    margin: auto;
}

.form-control{
    margin-bottom:15px;
}

.btn.btn-dark{
    display: flex;
    margin-bottom: 100px;
}